<div class="notification-list-container">
  <div class="user-item">
    <img src="assets/remitente.png" alt="User Icon">
    <span>Usuario_1</span>
    <input type="checkbox">
  </div>
  <div class="user-item">
    <img src="assets/destinatario.png" alt="User Icon">
    <span>Usuario_2</span>
    <input type="checkbox">
  </div>
  <div class="user-item">
    <img src="assets/destinatario.png" alt="User Icon">
    <span>Usuario_3</span>
    <input type="checkbox">
  </div>
  <!-- Agrega más usuarios aquí -->
</div>
