.notification-list-container {
  margin-top: 60px;
  width: 50%;
  height: 600px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.user-item-1{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.user-item-1 img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.user-item-1 span {
  flex-grow: 1;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

.user-item img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.user-item span {
  flex-grow: 1;
}
