<div class="notification-list-container">
  <h1>Notificaciones</h1>
  <div class="user-item-1">
    <img src="assets/inbox notificacion.png" alt="User Icon">
    <span>Titulo 1</span>
    <input type="checkbox">
  </div>
  <div class="user-item">
    <img src="assets/inbox notificacion.png" alt="User Icon">
    <span>Titulo 2</span>
    <input type="checkbox">
  </div>
  <div class="user-item">
    <img src="assets/inbox notificacion.png" alt="User Icon">
    <span>Titulo 3</span>
  </div>
  <!-- Agrega más usuarios aquí -->
</div>
