.send-notification{
  display: flex;
  height: 100%;
  width: 100%;
}

.users-list {
  height: calc(100vh - 320px);
}

.notification-details{
  display: flex;
  position: relative;
  height: 100%;
  width: calc(100vw - 400px);
  background-color:  #dedede;
}
