<div class="inbox">
  <div class="sidebar">
    <button class="new-notification-button" (click)="navigateToSendNotification()">
      <img src="assets/enviar notificacion.png" class="new-notification-icon" />
      Nueva notificación
    </button>
    <app-notifications-list />
    <button class="Delete-all-button">
      <img src="assets/basurero gris.png" class="trash-icon" />
      Eliminar todo
    </button>
  </div>
  <div class="divider"></div>
  <!-- Divider -->
  <div class="detail">
    <app-notification-content />
  </div>
</div>
