<div class="img-container">
  <div class="text-box">
    <p>Envíe notificaciones desde cualquier lugar con un solo click.</p>
    <div class="image-button" *ngIf="isLoggedIn()">
      <button class="image-button home-inicio-2" (click)="navigateToSendNotification()">
        <img src="assets/inicio 2.png" alt="inicio 2" />
        Enviar Notificación
      </button>
      <button class="image-button home-inicio-3" (click)="navigateToInbox()">
        <img src="assets/inicio 3.1.png" alt="inicio 3" />
        Mis Notificaciones
      </button>
    </div>
  </div>
</div>
