header {
  background-color: black;
  height: 80px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Para separar el logo y los botones */
  align-items: center; /* Para centrar los elementos verticalmente */
  padding: 0 40px; /* Añade un padding lateral */
}

.header-logo {
  cursor: pointer;
  width: 130px;
  height: 50px;
}

.home-button {
  position: inherit;
  color: white;
  height: 40px;
  width: 100px;
  background-color: black;
  border: 0;
  // margin-left: 1400px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center; /* Centra el texto horizontalmente */
  cursor: pointer;
  transition: all 0.3s ease; /* Transición suave para el efecto de hover */
}

.home-button:hover {
  transform: scale(1.1);
}

.home-button:active {
  transform: translateY(2px); /* Efecto de presionado */
}
