<app-general-header></app-general-header>
<body>
  <img src="assets/Mesa de trabajo 1.png" alt="background" class="login-background">
  <form class="form">
    <h2>Inicia sesión</h2>
    <div>
      <label>Correo Electrónico</label>
    </div>
    <div>
      <input type="email" class="correo" placeholder="Escribe tu correo electrónico" required>
    </div>
    <div>
      <label>Contraseña</label>
    </div>
    <div>
      <input type="password" class="password" placeholder="Escribe tu contraseña" required>
      <p class="forgot-password">
        <a href="http://localhost:4200/register" target="_blank">¿Olvidaste tu contraseña?</a>
      </p>
    </div>
    <div>
      <button>Iniciar sesión</button>
      <p class="redirect-to-register">
        ¿No tienes cuenta? <a href="http://localhost:4200/register" target="_blank">Regístrate</a>
      </p>
    </div>
  </form>
</body>
<app-footer></app-footer>
