<div class="box-container">
  <form class="box-form-container" (submit)="createNotification($event)">
    <div>
      <input type="text" id="input-izquierda1" [(ngModel)]="request.titulo" name="titulo" class="notification-tittle" placeholder="Ingresa el titulo" required>
    </div>
    <div class="message-box">
      <textarea [(ngModel)]="request.contenido" name="contenido" rows="10" cols="50" placeholder="Contenido" style="max-height: 300px;"></textarea>
    </div>
    <div class="buttons">
      <button class="box-button-2" type="submit">Enviar</button>
    </div>
  </form>
</div>
