<div class="footer">
  <div class="container">
    <img src="assets/TES LOGO.png" alt="Logo" class="footer-logo" />
    <p class="footer-text">© 2024 Titan Enterprise Solutions</p>
    <div class="footer-social-logo">
      <img
        src="assets/instagram logo.png"
        alt="Instagram"
        class="footer-instagram-logo"
      />
      <img
        src="assets/facebook logo.png"
        alt="facebook"
        class="footer-facebook-logo"
      />
      <img src="assets/x logo.png" alt="x" class="footer-x-logo" />
    </div>
  </div>
</div>
