.users-list-container {
  height: 650px;
  border: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-indent: 20PX;
}

.user-item-1{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 1.5rem;
}

.user-item-1 img {
  width: 65px;
  height: 60px;
  margin-right: 10px;
}

.user-item-1 span {
  flex-grow: 1;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

.user-item img {
  width: 65px;
  height: 60px;
  margin-right: 10px;
}

.user-item span {
  flex-grow: 1;
}

.checkbox{
  width: 20px;
  height: 20px;
  margin-right: 30px;
  position: relative;
}


