<div class="users-list-container">
  <h1>Destinatario(s)</h1>
  <div class="user-item-1">
    <img src="assets/image.png" alt="User Icon">
    <span>Usuario 1</span>
    <input type="checkbox" id="user1" class="checkbox">
  </div>
  <div class="user-item">
    <img src="assets/image.png" alt="User Icon">
    <span>Usuario 2</span>
    <input type="checkbox" id="user2" class="checkbox">
  </div>
  <div class="user-item">
    <img src="assets/image.png" alt="User Icon">
    <span>Usuario 3</span>
    <input type="checkbox" id="user3" class="checkbox">
  </div>
</div>
